

.wishList__img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.wishList__name {
  font-weight: 500;
  margin-left: 15px;
}
.wishList__price {
  margin-left: auto;
  margin-right: 20px;
}